/Ejercicio refuerzo 9/nbproject/private/
/Ejercicio refuerzo 9/build/
/Ejercicio refuerzo 10/nbproject/private/
/Ejercicio refuerzo 10/build/
/Ejercicio refuerzo 11/nbproject/private/
/Ejercicio refuerzo 11/build/
/EjerciciosGuia1/nbproject/private/
/EjerciciosGuia1/build/
/ultimo digito/nbproject/private/
/Machete/nbproject/private/
/Machete/build/
/JavaApplication10/nbproject/private/